doctype
html
	head
		link(rel="stylesheet" href="//galaxyui.com/css/galaxy.css")
		link(rel="stylesheet" href="/css/app.css")

		script(src="//code.jquery.com/jquery.min.js")
		script(src="/js/charts/charts.js")
		script(src="/js/app.js")
	body
		!= yield