header
	nav
		ul
			li Text Adventures

img(src="//placehold.it/1440x350" g="12")
section(g="centered md-margin-t")
	aside(g="3 centered")
		ul
			li kadsj
			li fkldsaj
	div(g="9")
		
		table#games
			thead
				td Game
				td ID
			tbody
				tr
					td <a href="">Text Adventures</a>
					td 1
				tr
					td <a href="">Text Adventures</a>
					td 2
				tr
					td <a href="">Text Adventures</a>
					td 3
				tr
					td <a href="">Text Adventures</a>
					td 4