//- header
//- 	nav
//- 		ul
//- 			li Text Adventures

section
	ul.cards(g="centered")
		li
			h2 Game #2
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur possimus commodi ab non veritatis, obcaecati ipsam tempore, eum quis nostrum voluptates dolor quo temporibus in est, incidunt reiciendis officia dicta?
		li
			h2 Game #2
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur possimus commodi ab non veritatis, obcaecati ipsam tempore, eum quis nostrum voluptates dolor quo temporibus in est, incidunt reiciendis officia dicta?
		li
			h2 Game #2
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur possimus commodi ab non veritatis, obcaecati ipsam tempore, eum quis nostrum voluptates dolor quo temporibus in est, incidunt reiciendis officia dicta?
