body {
  font-family: Roboto;
  background: #faf9f4;
  font-size: 20px;
  overflow: auto;
  overflow-y: hidden;
  max-height: 100vh;
}

table#games {
  font-size: 1.3em;
}

.active {
  background: #000;
}

ul.cards li {
  border: #eae6d1 1px solid;
  border-radius: 6px;
  width: 50vw;
  margin-top: 50vh;
  padding-top: 2em;
  margin: 0 auto;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
}

#console {
  font-size: 2em;
  color: #fff;
  background: #000;
}

p {
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: #eee;
}

nav {
  color: #fff;
  background-color: #ee6e73;
  width: 100%;
  line-height: 56px;
  box-shadow: none;
  
}
nav .nav-wrapper {
  background: #fff;
  height: 3.5em;
}
nav .nav-wrapper .brand-logo {
  color: #ff7258;
  font-weight: 800;
  padding-top: .2em;
  padding: 0 1em;
}

hr {
  width: 100%;
  margin-top: 1em;
}

.message {
  border: #dad3ae 1px solid;
  padding: 1em;
}
.message:hover {
  background: #f5f3e9;
}
.message.bot {
  background: #007AFF;
  border-color: #0062cc;
  color: #fff;
}
.message.bot:hover {
  background: #0073f0;
}

.md-screen img {
  width: 80px !important;
}

p {
  font-size: .9em;
}

.md-screen {
  background: #f2f2f2 !important;
  overflow: scroll !important;
}

.md-macbook-pro .md-screen {
  overflow: scroll !important;
}

.md-body {
  z-index: 1;
}

a:hover {
  color: #fff;
}

.md-iphone-5 {
  font-size: .9em;
  margin-left: 22em;
}

.md-macbook-pro {
  font-size: .9em;
  margin-left: 12em;
  margin-top: 5em;
}

p {
  padding-top: 0;
}

input[type="text"] {
  color: #000;
font-size: 1.3em;
text-indent: 5%;
padding-top: .5em;
padding-bottom: .3em;
}

#random {
  margin-left: 45%;
  margin-top: 5em;
  transform: scale(1.3);
}

